/////////////////////////////////////////
// PRIMARY COLORS
$color-primary-Dark-cyan: hsl(185, 75%, 39%);
$color-primary-very-Dark-desaturated-blue: hsl(229, 23%, 23%);
$color-primary-Dark-grayish-blue: hsl(227, 10%, 46%);
$color-primary-white: hsl(0, 0%, 100%);

/////////////////////////////////////////
// NEUTRAL COLORS
$Color-neutral-Dark-gray: hsl(0, 0%, 59%);
$Color-neutral-light-gray: hsl(0, 3%, 85%);

*,
**::before,
**::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
  border: 0;
}

html {
  box-sizing: border-box;
  font-size: 62.5%; //1rem = 10px 10px/16px = 62.5%
}

body {
  font-family: 'Kumbh Sans', sans-serif;
  font-weight: 400;
  line-height: 1.3;
}
