.main {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;

  background: url(/images/bg-pattern-top.svg) top -25rem left -10rem no-repeat,
    url(/images/bg-pattern-top.svg) bottom -30rem right -10rem no-repeat;
  background-size: contain;
  background-color: $color-primary-Dark-cyan;
}
